@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/Cusomcss.css"/>
<div class="ForgotPasswordbody">

    <div class="Forgot_password_form-container">
        <div class="logo-container">
            بازیابی رمز عبور
        </div>

        <form class="form" asp-controller="Account" asp-action="ForgotPassword" method="post">
            @if (ViewBag.SendingEmailStatus == "SuccessFully")
            {
                <script>SuccessAlert("لینکی حاوی تغییر کلمه عبور برای شما ارسال شد ", '/Login')</script>
            }

            <div class="form-group">
                <label for="email">ایمیل</label>
                <input type="email" id="email" name="email" placeholder="ایمیل خود را وارد کنید">
            </div>

            <button class="form-submit-btn" type="submit">ارسال ایمیل بازیابی</button>

            <span style="color:red;"> @ViewData["Errors"]</span>
        </form>


    </div>
</div>
